.pf-widget.custom-form-widget.pf-widget-slideout.pf-form {
  width: 460px;
}

.pf-widget.custom-form-widget .pf-widget-checkbox {
  font-size: 14px;
}

.pf-widget.custom-form-widget form.pf-custom-form>div {
  margin-bottom: 20px;
}